<%- include partials/header.ejs %>
<%- include partials/navbar.ejs %>

<div class="card-center bg-dark text-white mx-auto text-center w-75 mb-2">
    <h5 class="card-title">Welcome</h5>
    <p class="card-text">Hello! And welcome to Liams Assignment Tracker, Just Click On The Assignments Link In The Navigation Bar To Be Taken To A Personal Assignment Tracker.</p>
  <img src="/assets/images/essay.jpg" class="card-img-bottom" alt="Could not load image." width="10px" height="780px">
  </div>
</div>

<%- include partials/bottomNav.ejs %>
<%- include partials/footer.ejs %>

